* {
    margin: 0;
    padding: 0;
}


body {
    width: auto;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #1B1A1A;
}

li {
    list-style: none;
}



.header__logo {
    font-size: 30px;
    color: #1B1A1A;
}

header {
    margin: 0 auto;
    height: 90px;
}

.header__logo span {
    font-weight: bold;
}

.header__container-nav {
    display: flex;
    padding: 22px 0 0 120px;
    justify-content: space-around;
    align-items: center;
}

.header__nav-link {
    display: flex;
    gap: 31px;
    font-size: 15px;
    letter-spacing: 0.4px;
}

.header__nav-link a:hover {
    background-color: #1B1A1A;
    color: white;
    border-radius: 15px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.header__nav-hover {
    padding: 10px 15px;
}

.main__architecture {
    background-color: #ECE7E4;
    width: 100%;
    margin: 0 auto;
}

.main__first-container {
    padding: 0 0 0 100px;
    display: flex;
    justify-content: space-between;
}

.main__logo p {
    font-size: 14px;
    opacity: 0.6;
    letter-spacing: 2px;
}

.main__first-text {
    padding: 137px 0 0 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: 64px;
    max-width: 417px;
    font-weight: 400;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    color: #403E3B;
}

.main__first-text p {
    max-width: 509px;
    color: #403E3B;
}

.main__read {
    margin: 0px 25px;
    padding: 10px 10px;
    max-width: 110px;
    text-align: center;
    letter-spacing: 0.4px;

}

.main__read:hover {
    background-color: #1B1A1A;
    color: white;
    border-radius: 15px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.main__our-film {
    margin: 0 auto;
    max-width: 1600px;
    padding: 96px 0;
}

.main__our-container {
    display: flex;
    justify-content: space-around;
}

.main__our-text {
    display: flex;
    flex-wrap: wrap;
    max-width: 493px;
    gap: 13px;
}

.main__our-text p {
    color: #403E3B;
}

.main__our-stephen {
    display: flex;
    align-items: center;
    gap: 30px;
}

.main__our-img {
    width: 84px;
    height: 84px;
}

.main__info-stephen p {
    font-weight: 400;
    font-size: 17px;
    color: #1B1A1A;
}

.main__info-stephen span {
    opacity: 0.6;
    font-size: 14px;
}

.main__back {
    background: url(./img/back.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    margin: 0 auto;
}

.main__container {
    display: flex;
    justify-content: flex-end;
}

.main__reeding {
    color: #403E3B;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 20px;
}

.main__loren {
    color: #645C55;
}

.main__back-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    width: 300px;
    height: 600px;
}

.main__our-proc {
    margin: 0 auto;
    padding: 100px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__our-article {
    width: 1440px;
    margin: 0 auto;
}

.main__article-inf {
    margin: 0 auto;
    max-width: 1400px;
}

.main__our-proc p {
    letter-spacing: 2px;
    opacity: 0.6px;
    color: #645C55;
}

h3 {
    font-weight: 400;
    font-size: 39px;
}

.main__img {
    margin-bottom: 40px;
    padding: 0 120px;
    display: flex;
    gap: 150px;
}

.main__img-inf {
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

.main__img-text {
    color: #403E3B;
    font-weight: 500;
    margin: 10px 0 10px 0;
}

.main__img-inf p {
    opacity: 0.6;
}

.main__ladder {
    margin: 0 auto;
    background: url(./img/ladder.svg);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__ladder-container {
    display: flex;
    justify-content: flex-end;
}

.main__ladder-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    width: 300px;
    height: 600px;
}



.main__customers {
    margin: 0 auto;
    padding-bottom: 100px;
    background-color: #403E3B;
    width: 100%;
    height: 350px;
}

.main__customers-container {
    width: 500px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.main__customers-all {
    display: flex;
    padding: 125px 0;
    justify-content: space-around;
    align-items: center;
}

.main__customers-container h2 {
    color: #FFFFFF;
    font-size: 32px;
}

.main__customers-prior {
    letter-spacing: 2px;
    color: #ECE7E4;
    text-transform: uppercase;
    font-size: 14px;
}

.main__customers-logo__container {
    width: 400px;
}

.main__customers-text {
    padding: 10px 0;
    color: #ECE7E4;
    font-weight: 300;
}

.main__customers-logo {
    display: flex;
    flex-wrap: wrap;
    gap: 96px;
}

.article__staircase {
    background: url(./img/staircase.svg);
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
}



.article__staircase-text {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
}

.main__featured-main {
    margin: 0 auto;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 900px;
}


.main__featured-all {
    padding: 119px 136px 0 136px;
}

.main__featured__text {
    width: 600px;
    font-size: 24px;
}

.main__featured__text h2 {
    font-size: 39px;
}

.main__featured-cards-container {
    width: 1200px;
    display: flex;
    gap: 20px;
}

.main__featured-cards {
    margin: 42px 0;
    background: url(./img/town.svg);
    width: 375px;
    height: 456px;
    background-repeat: no-repeat;
    transition: transform 0.3s ease, background-position 0.3s ease;
}

.main__featured-info {
    padding: 40px;
    opacity: 0;
}

.main__featured-info p:nth-child(2) {
    color: #403E3B;
    font-size: 23px;
}

.main__featured-read {
    padding: 291px 0 0 0;
}

.main__featured-cards:hover {
    transform: scale(1.1);
}

.main__featured-info:hover {
    opacity: 1;
    transition: ease-in-out 0.2s
}

.main__featured-cards:nth-child(2) {
    background: url(./img/newyork.svg);
}

.main__featured-cards:nth-child(3) {
    background: url(./img/lastfeature.svg);
}

.main__featured-view {
    width: 1200px;
    text-align: center;
}

.main__meet-background {
    width: 1440px;
    margin: 0 auto;
    height: 600px;
}

.main__meet-our-block {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    gap: 20px;
}

.main__meet-our {
    width: 510px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}

.main__meet-team-block {
    width: 100%;
    height: 400px;
    padding: 10px 0 0 20px;
}

.main__meet-info {
    width: 270px;
}



.main__meet-team {
    display: flex;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}

.main__meet-name {
    font-size: 17px;
    line-height: 26px;
}

.main__meet-opacity {
    font-size: 14px;
    opacity: 0.6;
    padding: 0 144px 0 0;
}

.main__goodfit-background {
    margin: 0 auto;
    background-color: #CEC4BC;
    width: 100%;
    height: 314px;
    display: flex;
    justify-content: center;
}

h2:last-child {
    line-height: 42px;
    width: 600px;
    font-size: 40px;
    color: black;
}

.main__goodfit-text {
    width: 1100px;
}

.main__flex-goodfit {
    display: flex;
    justify-content: center;
    align-items: center;
}


.main__touch {
    letter-spacing: 2px;
    line-height: 20px;
    color: #645C55;
    text-transform: uppercase;
}

footer {
    width: 100%;
    height: auto;
    margin: 62px auto;
}

.footer-license-text p {
    line-height: 24px;
}

.footer__license {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 26px;
}

.footer__images {
    display: flex;
    gap: 26px;
    align-items: center;
}

.footer__links {
    display: flex;
    gap: 26px;
    align-items: center;
    margin: 62px 0 0 0;
}




@media(max-width: 500px) {

   html, body {
        width: 100%;
        overflow-x: hidden;
    }

    .header__logo {
        font-size: 15px;
        color: #1B1A1A;
        padding: 0 0 5px 0;
    }

    header {
        margin: 0 auto;
        height: 50px;
        padding: 15px 0;
    }

    .header__logo span {
        font-weight: bold;
    }

    .header__container-nav {
        display: flex;
        padding: 11px 0 0 0;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .header__nav-link {
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        font-size: 10px;
        letter-spacing: 0.4px;
        align-items: center;
    }


    .header__nav-hover {
        padding: 5px 5px;
    }

    .main__architecture {
        background-color: #ECE7E4;
        margin: 20px auto;
        width: 100%;
        display: flex;

    }

    .no__mobile {
        display: none;
    }

    .main__first-container {
        padding: 0 50px 0 0;
    }

    .main__logo p {
        font-size: 10px;
        opacity: 0.6;
        letter-spacing: 2px;
    }

    .main__first-text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 20px 0;
    }

    h1 {
        font-size: 32px;
        font-weight: 400;
        text-align: center;
    }


    .main__first-text p {
        max-width: 160px;
        font-size: 13px;
        text-align: center;
    }

    .main__read {
        margin: 0px 25px;
        padding: 5px 5px;
        max-width: 100%;
        text-align: center;
        letter-spacing: 0.4px;

    }

    .main__read:hover {
        background-color: black;
        color: white;
        border-radius: 15px;
        transition: background-color 0.2 ease-out, color 0.2s ease-out;
    }

    .main__our-film {
        margin: 0 auto;
    }

    h2 {
        margin-bottom: 50px;
        font-size: 20px;
        font-weight: 400;
        color: #403E3B;
        text-align: center;
    }

    .main__our-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main__our-text {
        display: flex;
        gap: 5px;
        font-size: 16px;
    }

    .main__our-text p {
        color: #403E3B;
    }

    .main__our-stephen {
        display: flex;
        align-items: center;
        padding-left: 30px;
        gap: 10px;
    }

    .main__our-img {
        width: 64px;
        height: 64px;
    }

    .main__info-stephen p {
        font-weight: 400;
        font-size: 12px;
        color: #1B1A1A;
    }

    .main__info-stephen span {
        font-size: 8px;
    }

    .main__back {
        background: url(./img/back.svg);
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }

    .main__container {
        display: flex;
        justify-content: flex-end;
    }

    .main__reeding {
        color: #403E3B;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 20px;
    }

    .main__loren {
        color: #645C55;
    }

    .main__back-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 60px;
        width: 100%;
        height: 600px;
    }

    .main__our-proc {
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__our-article {
        width:100%;
        margin: 0 auto;
    }

    .main__article-inf {
        margin: 0 auto;
        width: 100%;
        flex-wrap: wrap;
    }

    .main__our-proc p {
        letter-spacing: 2px;
        opacity: 0.6px;
        color: #645C55;
    }

    h3 {
        font-weight: 400;
        font-size: 30px;

    }

    .main__img {
        margin-bottom: 40px;
        padding: 0 0 0 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .main__img-inf {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .main__img-text {
        color: #403E3B;
        font-weight: 500;
        margin: 10px 0 10px 0;
    }

    .main__img-inf p {
        opacity: 0.6;
    }

    .main__ladder {
        margin: 0 auto;
        background: url(./img/ladder.svg);
        width: 100%;
        height: 600px;
        background-repeat: no-repeat;
    }

    .main__ladder-container {
        display: flex;
        justify-content: flex-start;
    }

    .main__ladder-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 60px;
        width: 300px;
        height: 600px;
    }



    .main__customers {
        margin: 0 auto;
        padding-bottom: 300px;
        background-color: #403E3B;
        width: 100%;
        height: 350px;
    }

    .main__customers-container {
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
    }

    .main__customers-all {
        display: flex;
        padding: 125px 0;
        align-items: center;
    }

    .main__customers-container h2 {
        color: #FFFFFF;
        font-size: 32px;
    }

    .main__customers-prior {
        letter-spacing: 2px;
        color: #ECE7E4;
        text-transform: uppercase;
        font-size: 14px;
    }

    .main__customers-logo__container {
        width: 100%;
    }

    .main__customers-text {
        padding: 10px 0;
        color: #ECE7E4;
        font-weight: 300;
    }

    .main__customers-logo {
        display: flex;
        margin: 0 15px 0 0;
        justify-content: right;
        flex-wrap: wrap;
        gap: 96px;
    }

    .article__staircase {
        background: url(./img/staircase.svg);
        width: 100%;
        height: 600px;
        margin: 0 auto;
    }



    .article__staircase-text {
        width: 300px;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 60px;
    }

    .main__featured-main {
        margin: 100px auto;
        background-color: #F7F7F7;
        width: 100%;
        height: 100%;
    }


    .main__featured-all {
        padding: 0;
    }

    .main__featured__text {
        text-align: center;
        width: 100%;
        font-size: 18px;
        margin: 0 0 50px 0;
    }

    .main__featured__text h2 {
        text-align: center;
        font-size: 39px;
    }

    .main__featured-cards-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .main__featured-cards {
        margin: 10px 0;
        background: url(./img/town.svg);
        width:100%;
        height: 100%;
        display: flex;
        justify-content: center;
        background-position: center;
        background-repeat: no-repeat;
        transition:none;
    }

    .main__featured-info {
        padding: 40px;
        opacity: 1;
    }

    .main__featured-info p:nth-child(2) {
        color: #403E3B;
        font-size: 23px;
    }

    .main__featured-read {
        padding: 291px 0 0 0;
    }

    .main__featured-cards:hover {
        transform: none;
    }

    .main__featured-info:hover {
        opacity: 1;
        transition: none;
    }

    .main__featured-cards:nth-child(2) {
        background: url(./img/newyork.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .main__featured-cards:nth-child(3) {
        background: url(./img/lastfeature.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .main__featured-view {
        width: 100%;
        margin: 30px auto;
        padding: 0 0 15px 0;
        text-align: center;
    }

    .main__meet-background {
        width: 100%;
        margin: 0 auto;
        height: 100%;
    }

    .main__meet-our-block {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 50px 0 0 30px;
        display: flex;
        gap: 20px;
    }

    .main__meet-our {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 16px;
    }

    .main__meet-our h2 {
        font-size: 30px;
    }

    .main__meet-team-block {
        width: 100%;
        height: 100%;
        padding: 10px 0 100px 20px;
    }

    .main__meet-info {
        width: 100%;
    }



    .main__meet-team {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
    }

    .main__meet-name {
        font-size: 17px;
        line-height: 26px;
    }

    .main__meet-opacity {
        font-size: 14px;
        opacity: 0.6;
        padding: 0;
    }

    .main__goodfit-background {
        margin: 0 auto;
        background-color: #CEC4BC;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    h2:last-child {
        line-height: 42px;
        width: 100%;
        margin: 10px 0 0 10px;
        text-align: left;
        font-size: 20px;
        color: black;
    }

    .main__goodfit-text {
        width: 100%;
    }

    .main__flex-goodfit {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .main__touch {
        letter-spacing: 2px;
        margin: 10px 0 0 10px;
        line-height: 20px;
        color: #645C55;
        text-transform: uppercase;
    }

    footer {
        width: 100%;
        height: auto;
        margin: 62px auto;
    }

    .footer-license-text p {
        line-height: 24px;
    }

    .footer__license {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 10px;
        gap: 20px;
    }

    .footer__flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 0px;
    }

    .footer__images {
        display: flex;
        gap: 0px;
        align-items: center;
    }

    .footer__links {
        display: flex;
        gap: 26px;
        align-items: center;
        margin: 62px 10px 0 0;
    }


}